html, body {
  margin: 0;
  height: 100%;
}

#app {
  display: grid;
  height: 100%;
  grid-template-rows: 50px 1fr;
}

#top {
  grid-row: 1 / 2;
}

#toolbar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #687689;
  box-shadow: 0px 3px 7px #00000050;
}

#history {
  grid-row: 2 / 3;
  overflow: auto;
  background-color: #dfe7ee;
  padding: 0 20px;
}